{% extends 'base.html.twig' %}
{% block title %}{{ app_config.app_name }} : {{successTitle}}{% endblock %}
{% block banner %}{% endblock %}
{% block main %}
    <section id="main">
        <div class="container">
            <header>
                <h2>{{successTitle}}</h2>
                <p></p>
            </header>
        </div>
        <ul class="actions">
            {% if filePath!="" %}
                <li><a href="{{ filePath }}" download class="button  large" title="Voir">Sauvegarder</a></li>
                <li><a href="path_to_file"  class="button  large" download="proposed_file_name">Download</a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}{# empty Twig template #}
