<section id="main">
    <div class="container">
            <div class="row gtr-200">
                    <div class="col-12">
                        {% block highlight %}{% include 'accueil/parts-highlight.html.twig'%}{% endblock %}                                  
                    </div>
            </div>
    </div>
</section>