<section class="box highlight">
        <ul class="special">
                <li><a href="{{ path('publication_show_all')}}" class="icon fa-quote-right" title="Publications">
                        <span style="font-size: 1.65em;margin: 1.5em 0 1.5em 0;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;line-height: 2em;text-transform: uppercase;color: #c1cac5;">Publications</span></a></li>
        </ul>
        <header>
                <h2>Que voulez-vous visualiser ?</h2>
                <p>Cliquer sur la rubrique de votre choix</p>
        </header>
        <p>
        </p>
</section>