<header id="header">
    <div class="logo container">
        <div>
                <h1><a href="{{ path('homepage') }}" id="logo">{{ app_config.app_name }}</a></h1>
                <p>{{ app_config.app_punchline }}</p>
        </div>
    </div>
</header>